<div style="width:auto;height:auto;background:#7190E0;padding:5px;">
    <div class="easyui-panel" title="产品管理" collapsible="true" style="width:auto;height:auto;padding:10px;">
        ProductCategory
        <br />
        ProductCategoryXref
        <br />
        Product
        <br />
        ProductPackage
        <br />
        WealthProductSetting
    </div>
    <br />
    <div class="easyui-panel" title="渠道管理" collapsible="true" style="width:auto;height:auto;padding:10px;">
        LipinAccountAPI
        <br />
        LipinAccountAPIProduct
    </div>
    <br />
    <div class="easyui-panel" title="订单管理" collapsible="true" style="width:auto;height:auto;padding:10px;">
        查询订单
        <br />
        处理订单
        <br />
    </div>
    <br />
    <div class="easyui-panel" title="营销管理" collapsible="true" collapsed="true" style="width:auto;height:auto;padding:10px;">
        投放广告
        <br />
        处理订单
    </div>
</div>
